###
### WILL BE TESTED
###


###
### TESTING
###


###
### GOOD
###
HW_RANDOM
ALLOW_DEV_COREDUMP  ----> 0.2sn (Core Release: 2.80a)
STRICT_MODULE_RWX   ----\ 0.1sn
STRICT_KERNEL_RWX   ----/
NAMESPACES   ----> so little
FTRACE       ----> 0.5sn


###
### NO BIG CHANGE
###
MMC_SDHCI
MMC_SDHCI_PLTFM
MMC_SPI
Apple Magic/Trackpad things
DETECT_HUNG_TASK
POSIX_TIMERS
SYSFS_SYSCALL
MULTIUSER
NO_HZ_FULL
NO_HZ_FULL_ALL
RC_CORE
INPUT_MOUSEDEV
INPUT_JOYSTICK
INPUT_TOUCHSCREEN
INPUT_JOYDEV
IIO
SYSVIPC
CROSS_MEMORY_ATTACH
FHANDLE
SCHED_AUTOGROUP
MEDIA_CAMERA_SUPPORT
MEDIA_RADIO_SUPPORT
MEDIA_DIGITAL_TV_SUPPORT
MEDIA_ANALOG_TV_SUPPORT
AIO
ADVISE_SYSCALLS
MEMBARRIER
VM_EVENT_COUNTERS
NO_HZ
CGROUPS
FOLLOWINGS_MAY_AFFECTS---
KPROBES
SHMEM
JUMP_LABEL
PROFILING
LATENCYTOP   may decrease the size


###
### BAD
###
COREDUMP                kernel panic
QUOTA                   
SLOB                    
HIGH_RES_TIMERS  much slower
WATCHDOG         instable system



dmesg01 - VERY GOOD
    HW_RANDOM
        HW_RANDOM_BCM2835

dmesg02 - NO CHANGE
    RC_CORE
    INPUT_FF_MEMLESS
    INPUT_MOUSEDEV
    INPUT_JOYSTICK
    INPUT_TOUCHSCREEN
    INPUT_JOYDEV
    IIO

dmesg03 - 
    ALLOW_DEV_COREDUMP

dmesg05 -
    FTRACE
