BR2_aarch64=y
BR2_cortex_a72_a53=y
BR2_DL_DIR="$(HOME)/.dl"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_14=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_GETTY_PORT="/dev/ttyLP1"
BR2_ROOTFS_OVERLAY="board/ftdev/imx8/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/ftdev/imx8/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/ftdev/imx8/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.toradex.com/linux-toradex.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="fd0ec4d63feb9432e661be0424d15c4493599b30"
#BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="82a521bbb0c9704bf2c0ff08a8c0f69efa85a55f"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/ftdev/imx8/custom_files/ftdev-linux_defconfig_2"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="freescale/fsl-imx8qm-apalis-eval freescale/fsl-imx8qm-apalis-ixora-v1.1"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_PACKAGE_IPROUTE2=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="9g"
BR2_PACKAGE_HOST_GENIMAGE=y
