BR2_arm=y
BR2_cortex_a15=y
BR2_DL_DIR="$(HOME)/.dl"
BR2_CCACHE=y
BR2_CCACHE_DIR="$(HOME)/.dl/ccache/caches"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_OVERLAY="board/ftdev/tk1/rootfs_overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/ftdev/tk1/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/ftdev/tk1/post-image.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="git://git.toradex.com/linux-toradex.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="ad44961f8b3cf5ce342d234c7eca05d89369c26b"
BR2_LINUX_KERNEL_DEFCONFIG="apalis-tk1"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="tegra124-apalis-v1.2-eval tegra124-apalis-eval"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="4096M"
BR2_PACKAGE_HOST_GENIMAGE=y
