###
### make linux-xconfig
###
---> ENABLED
ARM_APPENDED_DTB    : Embedding device tree for faster boot.
ARM_ATAG_DTB_COMPAT : Required to pass some parameters to kernel.

---> DISABLED
NET
SOUND
HW_RANDOM         ----> 0.7sn
ALLOW_DEV_COREDUMP----> 0.2sn (Core Release: 2.80a)
STRICT_KERNEL_RWX ====\ 0.1sn
STRICT_MODULE_RWX ====/
NAMESPACES -----------> 0.1sn
FTRACE     -----------> 0.5sn

-> USB DISABLE
USB_SUPPORT

-> DEBUG DISABLE
BLK_DEBUG_FS
DEBUG_BUGVERBOSE
DEBUG_FS
DEBUG_MEMORY_INIT
SLUB_DEBUG
PRINTK
BUG
DM_DELAY
ELF_CORE
KGDB
PRINT_QUOTA_WARNING
AUTOFS4_FS

# Followings are mostly affects the size
MEDIA_DIGITAL_TV_SUPPORT
MEDIA_ANALOG_TV_SUPPORT
MEDIA_CAMERA_SUPPORT
MEDIA_RADIO_SUPPORT
INPUT_MOUSEDEV
INPUT_JOYDEV
INPUT_JOYSTICK
INPUT_TABLET
INPUT_TOUCHSCREEN
IIO
RC_CORE
HID_LOGITECH
HID_MAGICMOUSE
HID_A4TECH
HID_ACRUX
HID_APPLE
HID_ASUS
